# Ignore Python stuff
*.pyc
__pycache__/
*.sqlite3
backend/venv/
venv/

# Ignore Node stuff
frontend/node_modules/
*.log
frontend/dist/

# macOS or system files
.DS_Store

# Ignore env files
backend/.env
frontend/.env
